body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
}

#sign-out i{
    font-size: 15px;
    color: red;
}

#container-box{
    border: 1px solid #ccc;
    min-height: 500px;
    width: 100%;
}

#nav-menu{
    z-index: 10;
}

#nav-menu .nav-tabs{
    border-bottom: none;
    margin-left: -25px;
    float: left;
    background-color: white;
}

#container-box{
    margin-top: -20px;
    padding: 30px 30px 5px 30px;
}

#tabs > div{
    display: none;
    padding: 10px 0;
}

.input-daterange select{
    max-width: 100px;
    display: inline;
}

#tabs > div > table > tbody > tr > td, #report-table td{
    border: 1px solid #ccc;
}

#tabs td{
    padding: 5px;
    vertical-align: middle !important;
}

#report-types button img{
    float: left;
}

#pesquisaAvancada{
    background-color: #ccc;
}

#response-by-consultant{
    display: none;
}

#report-table{
    width: 100%;
}

@media(max-width: 772px){
    #container-box{
        min-height: 300px;
    }
}